.DS_Store
build/
trash/
*.userdb/
*.userdb.old/
installation.yaml
user.yaml
input.txt
output.txt
njerchet.*
make_dist.sh
dist/
default.custom.yaml
pinyin_simp*
.venv/
sync/
.env
.pdm-python
default.yaml
rime_*
installation.yaml
kagiroi*
moran*